<h1>
  <%= current_user.pantry_name %>
  <small class="text-muted"> - Manage Requests</small>
</h1>

<hr>

<h2>Manage Existing Requests</h2>
<p>All of your pantry's current requests can be found here. See the full request by clicking the associated 'Show' button in order to view more information or edit the request. Close a request by clicking the associated 'Close' button.</p>

<div class="flexy">
  <div>
    <h2>Create New Requests</h2>
    <p class="left">Need to make a brand new request? Click on the 'New Request' button to enter the information associated with your new request.</p>
  </div>
  <%= link_to 'New Request', new_request_path, class:"btn btn-primary btn-lg right"%>
</div>

<hr>

<% if RequestsController.get_total_requests(current_user.id) == 0%>
  <div class="center">
    <h3>You don't have any requests yet.</h3>
  </div>
<% else %>
  <table class="table table-hover table-borderless">
    <thead>
      <tr class="header">
        <th>Requested Item</th>
        <th>Item Type</th>
        <th colspan="3">Request Description</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>

        <%# Only show the request if it belongs to the user. %>
        <% if request.user_id == current_user.id %>
          
          <%# Row color changes based on request type. %>
          <% if request.ispositive %>
            <tr class="table-success data">
          <% else %>
            <tr class="table-danger data">
          <% end %>
            <td class="name"><strong><%= request.name %></strong></td>
            <td><%= request.item_type %></td>
            
            <%# Only show a preview of the request description. %>
            <td><em><%= RequestsController.abbreviate_desc(request.description) %></em></td>

            <%# Give the pantry representative the option to manipulate requests. %>
            <td><div class="center"><%= link_to 'Show', request, class:"btn btn-sm btn-secondary"%></div></td>
            <td><div class="center"><%= link_to 'Close', request, method: :delete, data: { confirm: 'Are you sure you want to close this request? This will remove the request from your account permanently.' }, class:"btn btn-sm btn-danger" %></div></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<!--
  <td><%= link_to 'Edit', edit_request_path(request), class:"btn btn-sm btn-primary" %></td>
-->
