<%# 
  Project name: Pantry Packer
  Description: A single database and network for food pantries to request food items.
  Filename: show.html.erb
  Description: View for showing a request in full detail.
  Last modified on: 4/19/22 
%>

<%# If the user is logged in, put pantry in the title.%>
<h1>
<% if user_signed_in? %>
  <%= current_user.pantry_name %>
<% else %>
  Food Donor
<% end %>
  <small class="text-muted"> - Viewing a Request</small>
</h1>
<hr>

<%# If the request belongs to the user, give them additional information.%>
<% if user_signed_in? && current_user.id == @user.id %>
  <h2>Everything Look Good?</h2>
  <p>This is how others will see your this request when browsing on Pantry Packer. Use this screen to ensure that everything looks as it should. If something is not correct, use the 'edit' button to modify your request. You can always use the 'account' button to edit information regarding your pantry.</p>
  <hr>
<% end %>

<%# Displays the entire request in full detail to the user. %>
<div class="jumbotron">
  <h1 class="display-4"><strong><%= @request.name %></strong></h1>
  <p class="lead">

    <%# Pantry name that the request belongs to. %>
    <strong>Pantry Name: </strong>
    <strong style="font-weight: bold;">
      <%= link_to @user.pantry_name, home_pantry_path() %> 
    </strong><br><em style="font-size: .9em;">First requested on <%= @request.created_at.in_time_zone("America/New_York").strftime("%B %d, %Y at %I:%M %p") %> EST.</em></p>
  <p>

    <%# The type of item being requested. %>
    <strong>Request Item Type:</strong> <%= @request.item_type %>

    <br>

    <%# A request description (or indication of a lack of description). %>
    <strong>Request Description:</strong>
    <% if !@request.description.blank? %>
      <%= @request.description %>
    <% else %>
      No request description provided.
    <% end %>
  </p>

  <hr class="my-4">

  <p>

    <%# A pantry description (or indication of a lack of description). %>
    <strong>Pantry Description:</strong>
    <% if !@user.pantry_desc.blank? %>
      <%= @user.pantry_desc %>
    <% else %>
      No pantry description provided.
    <% end %>

    <hr>

    <%# Link to the pantry's site (or indication of a lack of website link). %>
    <% if @user.pantry_link[0] %>
      Visit our website to learn more about our pantry: <%= link_to "https://" + @user.pantry_link, "https://" + @user.pantry_link, target: :_blank %><br>
      <small class="form-text text-muted">The pantry representative provided this as their website, in case the above link doesn't work: <em><%= @user.pantry_link %></small></em>
    <% else %>
      <small class="form-text text-muted">The pantry representative did not provide a link for their website. Check their pantry's description for possible contact info.</small>
    <% end %>

    <br>

    <%# Link to the pantry's location (or indication of a lack of location). %>
    <% if @user.pantry_location[0] %>
      Deciding whether or not to make the drive? We are located <%= link_to "here", "https://www.google.com/maps/search/" + @processed_location, target: :_blank %>.
      <small class="form-text text-muted">The pantry representative provided this as their location, in case the above link doesn't work: <em><%= @user.pantry_location %></small></em>
   <% else %>
      <small class="form-text text-muted">The pantry representative did not provide a location for their website. Check their pantry's description for possible contact info.</small>
   <% end %>

  </p>

  <br>
  <br>

  <%# Controls on the bottom of the page for user navigation. %>
  <div class="center">

    <%# All users get a back button to navigate to the previous page. %>
    <%= link_to 'Back', url_for(:back), class:"btn btn-secondary btn-large" %>
    
    <%# Only give edit / delete permissions to the user who created the request. %>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to 'Edit This Request', edit_request_path(@request), class:"btn btn-primary btn-large" %>
      <%= link_to 'Close', "#{@request.id}", method: :delete, data: { confirm: 'Are you sure you want to close this request? This will remove the request from your account permanently.' }, class:"btn btn-large btn-danger" %>
    <% end %>
    
  </div>
</div>