<h1>
  View Requests
  <small class="text-muted"> - Search and Filter Pantries</small>
</h1>
<hr>
<h2>Find a Pantry to Assist.</h2>
  <p>Use the options below to narrow your search and more effectively choose the best option for your donation. Search for pantries by entering their name, a request name, or part of a description to find matching results. Additionally, mark off the food and request type that you would like to filter your results by before clicking 'search.'</p>
<hr>

    <%# Form for searching and filtering. %>
    <%= form_tag(home_search_path, method: :get, class:"form-tag") do %>
        
        <%# The search bar for pantry name, item name, and description. %>
        <div class="search-panel">
          <div class="input-group mb-3">
            <%= text_field_tag("search_text", params[:search_text], class:"form-control", placeholder:"Search pantry name, item, or description.") %>
            <div class="input-group-append">
              <%= submit_tag('Search', class: "btn btn-primary")%>
            </div>
          </div>
        </div>
        <br>

        <%# Checkboxes for each of the item types. %>
        <fieldset>
        <legend><em>Filter by Food Type:</em></legend>
          <div class="checkboxes left">
            <div class="checkbox-label-pair">
              <% if @canned_good_checked %>
                <%= check_box_tag("canned_good_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("canned_good_id", "true", false, class:"checkbox") %> 
              <% end %>
              <%= label_tag "canned_good_id", "Canned Good" %>
            </div>
            <div class="checkbox-label-pair">
              <% if @fruit_checked %>
                <%= check_box_tag("fruit_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("fruit_id", "true", false, class:"checkbox") %> 
              <% end %>
              <%= label_tag "fruit_id", "Fruit" %>
            </div>
            <div class="checkbox-label-pair">
              <% if @vegetable_checked %>
                <%= check_box_tag("vegetable_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("vegetable_id", "true", false, class:"checkbox") %> 
              <% end %>
              <%= label_tag "vegetable_id", "Vegetable" %>
            </div>
            <div class="checkbox-label-pair">
              <% if @grain_checked %>
                <%= check_box_tag("grain_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("grain_id", "true", false, class:"checkbox") %> 
              <% end %>
              <%= label_tag "grain_id", "Grain" %>
            </div>
            <div class="checkbox-label-pair">
              <% if @protein_checked %>
                <%= check_box_tag("protein_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("protein_id", "true", false, class:"checkbox") %>   
              <% end %>
              <%= label_tag "protein_id", "Protein" %>
            </div>
            <div class="checkbox-label-pair">
              <% if @dairy_checked %>
                <%= check_box_tag("dairy_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("dairy_id", "true", false, class:"checkbox") %> 
              <% end %>
              <%= label_tag "dairy_id", "Dairy" %>
            </div>
            <div class="checkbox-label-pair">
              <% if @meat_checked %>
                <%= check_box_tag("meat_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("meat_id", "true", false, class:"checkbox") %> 
              <% end %>
                <%= label_tag "meat_id", "Meat" %>
            </div>
            <div class="checkbox-label-pair">
            <% if @other_checked %>
              <%= check_box_tag("other_id", "true", true, class:"checkbox") %> 
            <% else %>
              <%= check_box_tag("other_id", "true", false, class:"checkbox") %> 
            <% end %>
              <%= label_tag "other_id", "Other" %>
            </div>
          </div>
        </fieldset>

        <br>

        <%# Checkboxes for each of the request types. %>
        <fieldset>
        <legend><em>Filter by Request Type:</em></legend>
          <div class="checkboxes left">
            <div class="checkbox-label-pair">
              <% if @positive_checked %>
                <%= check_box_tag("positive_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("positive_id", "true", false, class:"checkbox") %> 
              <% end %>
              <%= label_tag "positive_id", "Positive Requests" %>
            </div>
            <div class="checkbox-label-pair">
              <% if @negative_checked %>
                <%= check_box_tag("negative_id", "true", true, class:"checkbox") %> 
              <% else %>
                <%= check_box_tag("negative_id", "true", false, class:"checkbox") %> 
              <% end %>
              <%= label_tag "negative_id", "Negative Requests" %>
            </div>
          </div>
        </fieldset>

    <% end %>

<hr>

<%# Show requests from every pantry account. %>
<table class="table table-hover table-borderless">
    <thead>
      <tr class="header">
        <th>Pantry Name</th>
        <th>Requested Item</th>
        <th>Item Type</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
          
        <%# Row color changes based on request type. %>
        <% if request.ispositive %>
            <tr class="table-success data">
        <% else %>
            <tr class="table-danger data">
        <% end %>
            <td><%= User.where('id = ' + request.user_id.to_s)[0].pantry_name %></td>
            <td class="name"><strong><%= request.name %></strong></td>
            <td><%= request.item_type %></td>

            <%# Give the pantry representative the option to manipulate requests. %>
            <td><div class="center"><%= link_to 'Show', request, class:"btn btn-sm btn-secondary"%></div></td>

      <% end %>
    </tbody>
  </table>