<h1>
  Edit Your Pantry
  <small class="text-muted"> - Update Profile</small>
</h1>

<hr>

<h2>Change Account Information</h2>
<p>Update account or pantry information using the form below. You must enter your password to change anything related to your account. You only have to change the items that you want updated; you may ignore items that look correct. Be aware that updated information will display for all of your requests, even if they were made prior to changing you account information!</p>
<hr>

<div class="flexy-center">
  <div>
    <h2>Unhappy with Pantry Packer?</h2>
    <p>If you don't want your organization's data stored on Pantry Packer any more, use the 'Remove Account' button to permanently erase all data associated with your account. Your pantry's information, as well as any requests that you have made, will all be permanently erased.</p>
  </div>
  <div>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to permanently delete your account? All stored data and requests will be permanently deleted." }, method: :delete, class:"btn btn-danger btn-large" %></p>
  </div>
</div>

<hr>

<%= render "devise/shared/error_messages", resource: resource %>

<div class="form-wrapper-65">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field">
      <%= f.label :current_password, class:"form-label" %> <i>(required for any change)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"fill-field form-control" %>
    </div>

    <hr>

    <div class="field">
      <%= f.label :email, class:"form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"fill-field form-control" %>
    </div>

    <br>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="flexy-end">
      <div class="field flex-item">
        <%= f.label "New Password", class:"form-label" %>
        <% if @minimum_password_length %>
          <br>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"fill-field form-control" %>
      </div>
      <div class="flex-spacer"></div>
      <div class="field flex-item">
        <%= f.label "Confirm New Password", class:"form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"fill-field form-control" %>
      </div>
    </div>

    <hr>

    <div class="flexy-top">
      <div class="field flex-item">
        <%= f.label "Pantry Name", class:"form-label" %><br />
        <%= f.text_field :pantry_name, class:"fill-field form-control", required: true %>
      </div>
      <div class="flex-spacer"></div>
      <div class="field flex-item">
        <%= f.label "Website Link", class:"form-label" %><br />
        <%= f.text_field :pantry_link, class:"fill-field form-control" %>
      </div>
    </div>

    <br>

    <div class="field">
      <%= f.label "Pantry Location", class:"form-label" %><br />
      <%= f.text_field :pantry_location, class:"fill-field form-control" %>
    </div>

    <br>

    <div class="field">
      <%= f.label "Pantry Description", class:"form-label" %><br />
      <%= f.text_area :pantry_desc, size:"70x5", class:"fill-field form-control" %>
    </div>

    <br>

    <div class="actions center">
      <%= f.submit "Update Account Information", class:"btn btn-secondary btn-large" %>
    </div>
  <% end %>

</div>

<br>
<br>